dependencies/
build/
.gradle/
.settings/
.VSCodeCounter/

dependency-reduced-pom.xml
.classpath
.idea
.factorypath
.project

commitversion.enable

# These must NOT be ignored
!gradlew
!gradlew.bat
!gradle/

lombok.config
*.class
*bin/

.DS_Store
